body {
  background-color: #211f1e;
}

h1 {
  font-size: 40pt;
  font-weight: bold;
  padding: 1rem;
}

button {
  border-radius: 5pt;
  margin: .5rem;
  padding: .3rem .5rem;
}

input {
  margin: .5rem;
  padding: .3rem .5rem;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #211f1e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  background-image: url('/octocat-detective.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.instructions {
  color: #ffffff;
  font-weight: 700;
}

.searchForm {
  display: flex;
  flex-direction: column;  
}

.searcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  form {
    padding: 1rem;
  }
}

.sorter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  p {
    color: white;
    font-weight: 700;
  }

  .sort-options {
    display: flex;
    justify-content: center;
    button {
      width: 48%;
      max-width: 15rem;
      background: #a5a4a4;
    }
    button.active {
      background: #ffffff;
      outline: none;
      -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
         -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
              box-shadow: inset 0px 0px 5px #c1c1c1;
    }
    @media (max-width: 900px) { 
      display: flex;
      justify-content: center;
    }
  }
}

.result-card {
  border: solid 1px gray;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1rem;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.data-row {
  display: flex;
  justify-content: space-around;
}

.short-data {
  width: 25%;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  text-transform: uppercase;
  font-size: 10pt;
  color: #384459;
}

.long-data {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0;
}

.long-data {
  justify-content: flex-start;
}



